Repository devlopermitesh/Youtube: changes, and which lint-staged commands are due for each by the changed paths.
All: bunx eslint --fix, bunx prettier --write

type chechking
  .husky/pre-commit
  package.json
Due: bunx prettier --write

Setup bun for Vercel
  vercel.json
Due: bunx prettier --write

fix: resolver and ajv version mismatch
  bun.lock
  package.json
Due: bunx prettier --write

fix: force npm for Vercel production build and ignore bun files
  vercel.json
Due: bunx prettier --write

fix(vercel): force npm install & ignore bun files for production
  bun.lock
  package-lock.json
Due: bunx prettier --write

fix: skip husky install in production
  package.json
Due: bunx prettier --write

fix: dev dependecy issue in production
  tsconfig.json
  vercel.json
Due: bunx prettier --write

fix: install devDependencies on Vercel for TailwindCSS
  vercel.json
Due: bunx prettier --write

fix: make prepare script cross-platform
  package-lock.json
  vercel.json
Due: bunx prettier --write

fix: mark Clerk webhook route as dynamic to prevent build-time crash
  src/app/api/users/webhook/route.ts
Due: bunx eslint --fix, bunx prettier --write

chore: setup commitlint and GitHub Actions
  .github/workflows/github-actions-demo.yml
  .husky/commit-msg
  bun.lock
  commitlint.config.js
  package.json
  src/app/(home)/layout.tsx
  src/app/(home)/page.tsx
  src/app/api/trpc/route.ts
  src/server/trpc/context.ts
  src/server/trpc/root.ts
  src/server/trpc/router.ts
  src/server/trpc/routers/Hello.ts
  src/utils/constants.ts
  src/utils/trpc.ts
Due: bunx eslint --fix, bunx prettier --write

feat: add ci.yml for CI testing
  .github/workflows/ci.yml
Due: none

test: workflow
  src/app/(home)/protected/page.tsx
Due: bunx eslint --fix, bunx prettier --write

fix: prettier for .lintstagedrc
  .github/workflows/github-actions-demo.yml
  .lintstagedrc
Due: none

feat: add YouTube icon to public folder for UI display
  src/module/home/ui/components/home-navbar/index.tsx
  src/types/svg.d.ts
  tsconfig.json
Due: bunx eslint --fix, bunx prettier --write

revert: remove all the trcp setup
  commitlint.config.js
  src/app/(home)/layout.tsx
  src/app/(home)/page.tsx
  src/app/api/trpc/route.ts
  src/server/trpc/root.ts
  src/server/trpc/routers/Hello.ts
  src/utils/trpc.ts
Due: bunx eslint --fix, bunx prettier --write

revert: remove all the trcp setup
  src/app/(home)/page.tsx
Due: bunx eslint --fix, bunx prettier --write

refactor: cleanup TRPC structure and webhook route handling
  .github/workflows/ci.yml
Due: none

fix: node js version to 20
  .github/workflows/ci.yml
Due: none

chore: update husky script and lock files for cross-platform compatibility
  .husky/pre-commit
  package-lock.json
  package.json
Due: bunx prettier --write

fix: add precommit file command
  .husky/pre-commit
Due: none

fix: package.json prepare husky
  package.json
Due: bunx prettier --write

fix: npm and bun issue in cli
  .github/workflows/ci.yml
  package.json
Due: bunx prettier --write

fix: with secret in ci.yml
  .github/workflows/ci.yml
Due: none

fix: with secret in ci.yml
  package.json
Due: bunx prettier --write

fix: command for node env
  package.json
Due: bunx prettier --write

feat: category list with prefetch
  .husky/pre-commit
  .vscode/settings.json
  bun.lock
  package-lock.json
  package.json
  src/app/(home)/layout.tsx
  src/app/(home)/page.tsx
  src/app/(home)/protected/page.tsx
  src/app/api/Hello/[id]/route.ts
  src/app/api/trpc/[trpc]/route.ts
  src/app/layout.tsx
  src/components/Tip_Badge.tsx
  src/components/filter-carousel.tsx
  src/db/schema.ts
  src/lib/ratellimit.ts
  src/lib/redis.ts
  src/module/categories/server/procedures.ts
  src/module/home/ui/sections/categories-section.tsx
  src/module/home/ui/views/home-view.tsx
  src/server/trpc/context.ts
  src/server/trpc/root.ts
  src/server/trpc/router.ts
  src/trpc/client.tsx
  src/trpc/init.ts
  src/trpc/query-client.ts
  src/trpc/routers/_app.ts
  src/trpc/server.tsx
Due: bunx eslint --fix, bunx prettier --write

Path conditions:
  bunx eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  bunx prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{json,css,md})
